<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maverkick.teacher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
        <activity
            android:name="com.maverkick.teacher.com.example.video_lesson.teacher.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name="com.maverkick.teacher.addlesson.AddLessonActivity"
            android:exported="false" />
        <activity
            android:name="com.maverkick.teacher.edit_course.video.EditVideoCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.maverkick.teacher.edit_course.text.EditTextCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.maverkick.teacher.addlesson.SelectVideoActivity"
            android:exported="false" />

        <activity
            android:name="com.maverkick.teacher.TeacherMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="teacher"
                    android:path="/main"
                    android:scheme="maverkick" />
            </intent-filter>
        </activity>
    </application>

</manifest>