<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.auth">

    <uses-permission android:name="android.permission.AUTOFILL" />

    <application>
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="maverkick"
                    android:host="auth"
                    android:pathPrefix="/login" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />

        <activity
            android:name=".onboarding.student.StudentOnboarding"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="maverkick"
                    android:host="auth"
                    android:pathPrefix="/onboarding_student" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.teacher.TeacherOnboarding"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="maverkick"
                    android:host="auth"
                    android:pathPrefix="/onboarding_teacher" />
            </intent-filter>
        </activity>
    </application>
</manifest>
