<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".videolesson.VideoLessonActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false" />

        <activity
            android:name=".StudentMainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="maverkick"
                    android:host="student"
                    android:path="/main" />
            </intent-filter>

            <!-- Intent filter for deep link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="maverkick"
                    android:host="student"
                    android:pathPrefix="/studentHomeFragment" />
            </intent-filter>
        </activity>


        <activity
            android:name=".course.CourseDetailsActivity"
            android:exported="false" />
    </application>

</manifest>